$color--white: #fff;
$color--primary: #CE946B;
$color--beige: #C5988F;
$color--beige_1: #E4BEB5;
$color--beige_2: #EDD5D0;
$color--beige_3: #E5B093;
$color--pink: #EAB1B4;
$color--text: #34343F;
$color--gray: #9D9DB0;
$color--bg: #313140;


$colors: (
  ('white', $color--white),
  ('primary', $color--primary),
  ('beige', $color--beige),
  ('beige-1', $color--beige_1),
  ('beige-2', $color--beige_2),
  ('beige-3', $color--beige_3),
  ('pink', $color--pink),
  ('text', $color--text),
  ('bg', $color--bg),
)
